.contents
  .contents__main
    .contents__main__form
      .contents__main__form__new-message
        .contents__main__form__new-message__input
          .contents__main__form__new-message__input__box
            kkkk
          .contents__main__form__new-message__input__image
            %label{class: "input-box__image"}
            %i.fa.fa-image
        .contents__main__form__new-message__submit
          Send