.contents
  .contents__main
    .contents__main__header
      .contents__main__header__leftbox
        .contents__main__header__leftbox__text
          saaaa
        .contents__main__header__leftbox__text2
          aaaa
      .contents__main__header__rightbox
        Edit

    .contents__main__messages
      .contents__main__messages__data
        .contents__main__messages__data__info
          .contents__main__messages__data__info__talker
            sho
          .contents__main__messages__data__info__date
            2019/11/06
        .contents__main__messages__data__text
          kkok